@charset "UTF-8";
//颜色变量
$skin-blue:#293870; //蓝色
$skin-orange:#ff9037; //橙色
$bg-color:#ededed; 
$bd-color:#d3d3d3;
$skin-w:#fff;
$skin-blue-let:#29abe2; //浅蓝
$skin-blue-low:#00a99d; //深绿
$skin-orange-let:#fbb03b; //浅橙色
$skin-green:#7ac943; //绿色
$skin-purple:#93278f; //紫色
$skin-red:#ed1c24; //红色
$skin-pink:#ff7bac; //粉色
$skin-btn-orange:#f26009; //橙黄
$gray80:#3a3a3a; //80%黑色
$gray50:#5c5c5c; //50%黑色 字体颜色
$gray20:#b8b8b8; //20%
$hover:#5c5c5c;